Checks:
- -*
- bugprone-*
- clang-analyzer-*
- performance-*
- readability-*
- cppcoreguidelines-*
- misc-include-cleaner
- readability-identifier-naming
- -bugprone-easily-swappable-parameters
- -bugprone-narrowing-conversions
- -bugprone-macro-parentheses
- -readability-magic-numbers
- -readability-identifier-length
- -readability-function-cognitive-complexity
- -readability-implicit-bool-conversion
- -readability-convert-member-functions-to-static
- -readability-function-size
- -cppcoreguidelines-use-enum-class
- -cppcoreguidelines-avoid-magic-numbers
- -cppcoreguidelines-avoid-do-while
- -cppcoreguidelines-avoid-c-arrays
- -cppcoreguidelines-macro-usage
- -cppcoreguidelines-no-malloc
- -cppcoreguidelines-owning-memory
- -cppcoreguidelines-narrowing-conversions
- -cppcoreguidelines-prefer-member-initializer
- -cppcoreguidelines-pro-bounds-pointer-arithmetic
- -cppcoreguidelines-pro-bounds-array-to-pointer-decay
- -cppcoreguidelines-pro-type-reinterpret-cast
- -cppcoreguidelines-pro-type-cstyle-cast
- -cppcoreguidelines-pro-type-vararg
- -cppcoreguidelines-pro-bounds-constant-array-index
FormatStyle: none
HeaderFileExtensions: [h, hpp]
ImplementationFileExtensions: [c, cpp]
CheckOptions:
  readability-identifier-naming.AbstractClassCase: 'CamelCase'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ClassMemberCase: 'camelBack'
  readability-identifier-naming.MethodCase: 'CamelCase'
  readability-identifier-naming.ConstantCase: 'UPPER_CASE'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.EnumConstantCase: 'CamelCase'
  readability-identifier-naming.FunctionCase: 'camelBack'
  readability-identifier-naming.FunctionIgnoredRegexp: '^lua[A-Z]*_.*$'
  readability-identifier-naming.ParameterCase: 'camelBack'
  readability-identifier-naming.ParameterIgnoredRegexp: '^[A-Z]{1,2}$'
  readability-identifier-naming.LocalVariableCase: 'camelBack'
  readability-identifier-naming.LocalVariableIgnoredRegexp: '^([A-Z]{1,2})|(DOCTEST_.*)$'
  readability-identifier-naming.MacroDefinitionCase: 'UPPER_CASE'
  readability-identifier-naming.MacroDefinitionIgnoredRegexp: '^lua[A-Z]*_.*$'
