Checks:
- -*
- bugprone-*
- clang-analyzer-*
- performance-*
- cppcoreguidelines-init-variables
- misc-include-cleaner
- readability-identifier-naming
- -bugprone-easily-swappable-parameters
- -bugprone-narrowing-conversions
- -bugprone-macro-parentheses
FormatStyle: none
HeaderFileExtensions: [h, hpp]
ImplementationFileExtensions: [c, cpp]
CheckOptions:
  readability-identifier-naming.AbstractClassCase: 'CamelCase'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.ClassMemberCase: 'camelBack'
  readability-identifier-naming.MethodCase: 'CamelCase'
  readability-identifier-naming.ConstantCase: 'UPPER_CASE'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.EnumConstantCase: 'CamelCase'
  readability-identifier-naming.FunctionCase: 'camelBack'
  readability-identifier-naming.FunctionIgnoredRegexp: '^lua[A-Z]*_.*$'
  readability-identifier-naming.ParameterCase: 'camelBack'
  readability-identifier-naming.ParameterIgnoredRegexp: '^[A-Z]{1,2}$'
  readability-identifier-naming.LocalVariableCase: 'camelBack'
  readability-identifier-naming.LocalVariableIgnoredRegexp: '^([A-Z]{1,2})|(DOCTEST_.*)$'
  readability-identifier-naming.MacroDefinitionCase: 'UPPER_CASE'
  readability-identifier-naming.MacroDefinitionIgnoredRegexp: '^lua[A-Z]*_.*$'
